* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  margin: 30px 0;
}

section {
  background-color: gainsboro;
  border: 1px solid black;
  margin: 15px;
}

.row {
  width: 100%;
}

section > p {
  padding: 15px;
}

.title {
  border: 1px solid black;
  padding: 5px;
  width: 29%;
  margin: 0;
  text-align: center;
  position: relative;
  left: 71%;
}

#title1 {
  background-color: lightgreen;
}

#title2 {
  background-color: coral;
}

#title3 {
  background-color: lightblue;
}

@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.3%;
    float: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
    float: left;
  }

  .col-md-12 {
    width: 100%;
    float: left;
  }

  #title3 {
    width: 15%;
    position: relative;
    left: 85%;
  }
}

@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
    float: left;
  }
}
